#tabs{
    margin-left: 4px;
    padding: 0;
    background: transparent;
    voice-family: "\"}\"";
    voice-family: inherit;
    padding-left: 5px;
}
#tabs ul{
    font: bold 11px Arial, Verdana, sans-serif;
    margin:0;
    padding:0;
    list-style:none;
}
#tabs li{
    display:inline;
    margin:0 2px 0 0;
    padding:0;
    text-transform:uppercase;
}
#tabs a{
    float:left;
    background-color:#A3BBE6;
    margin:0 2px 0 0;
    text-decoration:none;
    display:block;
    padding:4px 9px 2px 6px;
}
#tabs a {float:none;}
#tabHeaderActive, #tabHeaderActive a { background-color: #42577B; color:#fff;}

/* Loading box of width=height=100px with a spinner placed at the center */
#loading {
	width:100px;
	height: 110px;
	position: fixed;
	top: 50%;
	left: 50%;
	background:url(/images/spinner-large.gif) no-repeat center #fff;
	text-align:center;
	padding:10px;
	font:normal 16px Tahoma, Geneva, sans-serif;
	border:1px solid #666;
	margin-left: -50px;
	margin-top: -50px;
	z-index:2;
	overflow: auto;
}

.toolbar-element {
	display: inline;
}

.toolbar-element div {
	display: inline;
}