<div class="columns">
  	<div id="content">
		<div class="inner-wrapper hfeed">
			<% if @updates.nil? || @updates.empty? -%>
			<p>
				No messages from <%= @group_name%>.
			</p>
			<% else -%>
				<ol id="updates">
					<% for msg in @updates do -%>
							<%=render :partial => 'messages/twit', :locals => {:twit => msg}%>
					<% end -%>
				</ol>
			<% end -%>
		</div>
	</div>
	
	<div id="sidebar">
		<div class='section'>
			<div class='hd'>
				<h3>Group: <%= @group_name %></h3>
			</div>
			<div class='bd'>
				<ul>
					<% for member in @members do -%>
					<li>
						<%= link_account(member, false) %>
					</li>
					<% end -%>
				</ul>
			</div>
		</div>
	</div>
</div>
