<h1>New group</h1>

<% form_for([@account, @group]) do |f| %>
  <%= f.error_messages %>

  <p>
	Group name: <%= f.text_field "filter_name"%>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', account_groups_path(@account) %>
